@model MyWebApp.ViewModels.NewReservationViewModel
@{
    ViewBag.Title = "Your Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-yourReservation col-12 col-sm-10 col-md-8 mt-4">
        <h4 class="text-light text-center font-weight-normal mt-4 mb-3">
            Your Reservation
        </h4>
        @if (Model.YourReservations.Count() > 0)
        {
            <div class="table-responsive text-center">
                <table class="table table-bordered table-hover bg-light" id="offers">
                    <thead>
                        <tr>
                            <th>Automobile</th>
                            <th>
                                Begin Date
                            </th>
                            <th>Date Stop</th>
                            <th>Total Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        @foreach (var res in Model.YourReservations)
                        {
                            <tr>
                                <td>@res.Automobile.CarBrand  @res.Automobile.CarModel</td>
                                <td>@res.BeginDate.ToShortDateString()</td>
                                <td>@res.DateStop.ToShortDateString()</td>
                                <td>@(res.TotalPrice) RSD.</td>
                                <td>
                                    <button type="button" reservation-id="@res.Id" class="btn btn-danger font-weight-bold btn-remove">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="row">
                <div class="alert alert-warning w-100 text-center p-4">
                    We don't have any Reservations!
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".btn-remove").click(function () {
                let button = $(this);
                if (confirm("Do you want to remove your reservation?")) {
                    $.ajax({
                        url: "DeleteYourRes/" + button.attr("reservation-id"),
                        method: "DELETE",
                        success: function () {
                            alert("Success delete your reservation!");
                            window.setTimeout(function () { location.reload() }, 1000);
                        }
                    });
                }
            });
        });
    </script>
}

